google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
google-pasta
googleapis-common-protos
langchain
langchain-anthropic
langchain-chroma
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain-huggingface
langchain-openai
langchain-text-splitters
langchain-groq
langdetect
langfuse
langgraph
langgraph-api
langgraph-checkpoint
langgraph-checkpoint-sqlite
langgraph.checkpoint.postgres
langgraph[postgres]
langgraph-cli
langgraph-prebuilt
langgraph-runtime-inmem
langgraph-sdk
langsmith
psycopg[binary]>=3.2
psycopg-pool>=3.2
uvicorn
uvicorn[standard]
fastapi
fastapi[standard]
